<div>
    <section>
      <div class="background">
          <div class="aneis2">

          </div>
          <div class="box">
            <div class="sair">
                <a href="/">Home</a>
              </div>
            <div>
                <h1 class="esqueceusenha">Esqueceu sua senha?</h1>
            </div>
            <div>
                <p class="digiteemail">Digite seu email abaixo!</p>
            </div>
            <div>
                <input class="enderecoinput" type="email" placeholder="Endereço de Email">
            </div>
            <div>
                <input class="botaosubmit" type="submit" value="Enviar Email">
            </div>
          </div>
        </div>
    </section>
  </div>
  