body {
  display: grid;
  place-items: center; /* Centraliza o conteúdo tanto horizontal quanto verticalmente */
  height: 100vh;
}
h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 350px;
}
