<div>
    <section>
      <div class="background">
        <div class="aneis2"></div>
        <div class="box">
          <form action="">
          <div>
            <h1 class="esqueceusenha">Validação de Token</h1>
          </div>
          <div>
            <p class="digiteemail">
              Digite seu token abaixo!
            </p>
          </div>
         
          <div>
            <input
              
              class="enderecoinput"
              type="text"
              placeholder="Token"
            />
          </div>
          <div>
            <input class="botaosubmit" type="submit" value="Enviar Token" />
          </div>
        </form>
        </div>
      </div>
    </section>
  </div>
  